@media (min-width:700px)and(max-width:770px){
html
{
   background-color: #F7F7F7;
   font-family: 'Times New Roman', Times, serif;
}
h1
{
    font-size: 40px;
    text-align: center;
    background-color: white;
}
.task
{
    cursor: pointer;
    text-align: center;
    font-size: 22px;
}
.flex
{
    display: flex;
    background-color: #7B7B7B29;
    margin: 0px 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.strike
{
    text-decoration: line-through;
    color: #c2c2c2;
}
.head
{
    color: #00A5EC;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.item
{
   margin: 25px;
   padding: 25px;
   Width: 250px;
   height: 200px;
   border: 2px solid white;
   background-color: white;
   border-radius: 15px;
   text-align: left;
}
p
{
    font-size: 18;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: #00A5EC;
}
.arrow
{
    position: relative;
    top: -15px;
    left: 75px ;
    padding: 20px; 
    font-size: 22px;
    color: black;
}
}